<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--<target name="logfile" xsi:type="File" fileName="${basedir}\logs\WorkerRole-log.txt" layout="${longdate} ${level} ${processid} ${message}" />-->
      <target name="logfile" xsi:type="File" fileName="${basedir}\logs\WorkerRole-log.txt">
        <layout xsi:type="CSVLayout" delimiter="Tab">
          <column name="date" layout="${longdate}" />
          <column name="level" layout="${level}" />
          <column name="processid" layout="${processid}" />
          <column name="message" layout="${message}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
  <!--<appSettings>
    <add key="WorkerRoleAssemblyPath" value="C:\Temp\ServiceFabric.Tests.SampleWorkerRole.dll" />
    <add key="WorkerRoleTypeName" value="ServiceFabric.Tests.SampleWorkerRole.SampleWorkerRole" />
    <add key="WorkerRoleCount" value="1" />
  </appSettings>-->
  <appSettings>
    <add key="WorkerRoleAssemblyPath" value="C:\Users\Administrator\Documents\Visual Studio 2013\Projects\Fbd.WorkerRole.MessageRetrieval\Fbd.WorkerRole.MessageRetrieval\bin\Debug\Fbd.WorkerRole.MessageRetrieval.dll" />
    <add key="WorkerRoleTypeName" value="Fbd.WorkerRole.MessageRetrieval.MessageRetrievalWorkerRole" />
    <add key="WorkerRoleCount" value="3" />
    <add key="SftpHostname" value="fbd-sftp-test.cloudapp.net" />
    <add key="SftpPort" value="22" />
    <add key="SftpUsername" value="fbd-sftp-test" />
    <add key="SftpPassword" value="60/q7aT0!32455y" />
    <add key="SftpMessageDirectory" value="/home/fbd-sftp-test/CRM" />
    <add key="SftpFileExtension" value=".xml" />
  </appSettings>
</configuration>