<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\logs\WorkerRole-log.txt" layout="${longdate} ${level} ${processid} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="WorkerRoleAssemblyPath" value="C:\Temp\ServiceFabric.Tests.SampleWorkerRole.dll" />
    <add key="WorkerRoleTypeName" value="ServiceFabric.Tests.SampleWorkerRole.SampleWorkerRole" />
    <add key="WorkerRoleCount" value="1" />
  </appSettings>
</configuration>